/* page.css --  used with page.html for template.

   Impt: Use with reset.css OR  normailise.css
 */

@font-face {
  font-family: "DIN";
  src: url(font/DIN/din1451engschrift.ttf);
}

@font-face {
  font-family: "GOTHAMbold";
  src: url(font/Gotham/Gotham-Bold.otf);
}

@font-face {
  font-family: "GOTHAMbook";
  src: url(font/DIN/Gotham-Book.otf);
}

body  {
    margin:    0;
    border:    0;
    padding:   0;
    font-size: 100%;
}


#page  {
    max-width: 1024px;
    margin: 0 auto;
    width:  100%;
}



#header-block  {
    background-color: #f8f8f8;
    min-height: 156px;
    width:100%;
}



#header-top {
    width: 100%;
    height: 93px;
}


.logo {
    float: left;
    margin-left: 0.6%;
}

.top-menu {
    float: left;
    width: 50%;
}

.top-nav-menu {
    margin-top: 15px;
    margin-left: 7.2%;
}

.top-menu li {
  display: inline-block;
  padding-right: 2.5%;
}

.sign {
  float: right;
  width: 12.7%;
}

.sign-in {
  margin-top: 15px;
}


.sign li {
  display: inline-block;
}


.sign li.first {
  border-right: 1px solid;
  padding-right: 7px;
 line-height: 11px;
}


.sign li a {
    text-decoration: none;
    color: #075a78;
    font-family: GOTHAMbold;
    font-size: 13px;
}


.top-menu .top-nav-menu li a{
    text-decoration: none;
    color: #075a78;
    font-family: GOTHAMbold;
    font-size: 11px;
    background: url(images/down-arrow.jpg) no-repeat center right;
    padding-right: 14px;
}


#header-bottom {
  width: 100%;
  height: 63px;
  float: left;
}

#header-bottom  li:first-child  {
    padding-left: 60px;
    padding-top: 10px;
    float: left;
}

.radio-text {
    display: inline-block;
    padding-left: 13px;
    padding-top: 19px;
    font-family: GOTHAMbold;
    font-size:   14px;
    color:       #075a78;
}

#header-menu  {
    width:    90%;
    position: relative;
    left:     23.5%;
    font-family: GOTHAMbold;
    font-size:   22px;
}


#header-menu li  {
   float:           left;
   list-style-type: none;
   width:           27%;
   background:      #666;
   text-align:      center;
   /*border-right:    3px solid #ccc; TODO:last menu shouldn't have a border */
}

.radio  {
    display:  list-item;
    background-color: #FFDF00;
    padding:         23px 0;
		font-size:       20px;
}


.community  {
    background-color: #FE8000;
    display:  list-item;
    padding:         23px 0;
		font-size:       20px;
}


.events  {
    background-color: #064360;
    display:  list-item;
    padding:         23px 0;
		font-size:       20px;

}


/* Not used */
.mid-border  {
  border-left: 1px solid #ccc;
  border-right:1px solid #ccc; /* TODO:last menu shouldn't have a border */
}



#top-menu  {
    background-color:  grey;
    height:            45px;
    background-color:  #D8D7D7;
}


/* REVISIT: How to make all menus have some common property? */
#top-menu a  {
    display: inline-block;
    height:           100%;
    width:            auto;
    background-color: #F0D301;
    font-color:       #87A937;
    padding-right:    5px;
    padding-left:     2px;
    margin:           0;
}


#body-block  {
    height:           65%;
    background-color: darkgrey;
}


#footer-block  {
    background-color: #0E6385;
    height:           8%;
}



