/* page.css --  used with page.html for template.

   Impt: Use with normalise.css
 */
body  {
    margin    : 0;
    border    : 0;
    padding   : 0;
    font-size : 100%;
}


#page  {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}


#header-block  {
    background-color: #0E6385;
    height:  20%;
    width: 100%;
}


#header-menu  {
    background-color: #F9F035;
    height:   35%;
    width:    50%; 
    /* REVISIT: below is to move the menu down and to the right; 
       any better way?  */
    position: relative;
    left:     25%;
    top:      65%;
}


#header-menu a  {
    display: inline-block;
    height:  100%;
    width:  31%;
    background-color: gray;
    margin:  2px;
    text-align: center;
}


#top-menu  {
    background-color: grey;
    height: 5%;
    background-color:  #D8D7D7;
}


/* REVISIT: How to make all menus have some common property? */
#top-menu a  {
    display: inline-block;
    height: 100%;
    width: auto;
    background-color: #F0D301;
    font-color: #87A937;
    padding-right:  5px;
    padding-left:    2px;
    margin:         0;
}


#body-block  {
    height:  65%;
    background-color: darkgrey;
}


#footer-block  {
    background-color: #0E6385;
    height:  8%;
}
